<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../../Scripts/Smartvitals.js"></script>

@*<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>*@
@(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.sitefinity.css").Combined(true).Compress(true)))</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <div style="float:right">
                     @if(Request.IsAuthenticated) {
                        <text>Welcome <strong>@User.Identity.Name</strong>!
                            [ @Html.ActionLink("Log Off", "LogOff", "Account") ]</text>
                    }
                    else {
                        <text><table id="tblLogin"><tr style="height:10px"><td>username</td><td>password</td><td></td></tr>
                         <tr><td><input type="text" id="userName" class="txtlogin" /></td>
                             <td><input type="password" id="password" class="txtlogin" /></td><td><a href="#" class="btnlogin" onclick="authenticate()">login</a></td></tr></table></text>
                    }
                 </div>
                <a href="#" onclick="goHome()"><img src="../../Content/Images/header.png" alt="SmartVitals" /></a>
                <img src="../../Content/Images/line.png" alt="SmartVitals" title="SmartVitals" style="margin-left:auto;margin-right:auto; margin-top:10px" width="100%"/>
                <nav>
                <ul id="menu">
                @if (Request.IsAuthenticated)
                { 
                    <li>@Html.ActionLink("Portal", "Portal", "Home")</li>
                    <li>@Html.ActionLink("Profile", "UserProfile", "Home")</li>
                    if (User.IsInRole("Administrator"))
                    { 
                        <li>@Html.ActionLink("Administration", "Index", "Administration")</li>
                    }
                }
                </ul>
            </nav>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
            University of South Florida. Mobile Software Development. Spring 2012.
        </footer>
    </div>
@(Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Combined(true).Compress(true)))</body>
</html>
